html{
    font-family: 'PT Serif', serif;
    background-color: #3C3B6D;
    
    }
    
    img{
        width:600px;
        height: auto;
    }
    
    body{
        margin-top: 0;
    }
    
    h1{
        font-size: 4rem;
        color: white;
        margin-top: 0;
    
    }
    
    h2{
        font-size: 3rem;
        color: white;
    
    }
    
    
    p{
        font-size: 1rem;
        color: white;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color:black;
        color: white;
        margin: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        }
        
    .navbar li{
        list-style: none;
        display: inline-block;
        padding-right: 2rem;
    }
        .nav-links a {
        color: white;
        font-family:'PT Serif', serif;
        font-weight: bold;
        }
        
        /* LOGO */
        
        .logo img{
            height:auto;
            width: 200px;
            padding-bottom: 30px;
            padding-left: 50px;
            padding: 0px;
            margin-top: 0px;
        }
        
        /* NAVBAR MENU */
        
        .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        }

        .menu a{
            text-decoration: none;
        }
        
        .menu li:hover {
        background-color: white;
        border-radius: 5px;
        transition: 0.3s ease;
        }
        
        .menu li {
        padding: 5px 14px;
        
            }
        

    #hero img{
        padding-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #hero h1{
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }
    

    
    .homerow {
        box-sizing: border-box;
      }
      
      .homecolumn {
        float: left;
        width: 45%;
        padding: 30px;
      }

      .homerow:after {
        content: "";
        display: table;
        clear: both;
      }

      @media screen and (max-width: 600px) {
        .homecolumn {
          width: 100%;
        }
      }
    
      #homeheros h1{
        padding-left: 50px;
      }
     #homeheros img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
       margin-right: 40px;
       margin-left: 10px;
      }

      #collectcards{
        padding-left: 50px;
      }


     .whatish1{
        padding-top: 50px;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
     } 

     .whatish2{
        font-size: 2rem;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
     } 

     .howtorow {
        box-sizing: border-box;
      }
      
      .howtocolumn {
        float: left;
        width: 25%;
        padding: 30px;
      }

      .howtorow:after {
        content: "";
        display: table;
        clear: both;
      }

      @media screen and (max-width: 600px) {
        .howtocolumn {
          width: 100%;
        }
      }

      .board1{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
      }

      button{
        font-family: 'PT Serif', serif;
        color: white;
        font-size: 2rem;
        text-align: left;
        border: none;
        background: none;
        padding-left: 50px;
      }

      button:hover{
        color: greenyellow;
      }

      .herobuttons img{
        width: 300px;
         height: 300px; 
         object-fit: cover;
         padding-left: 50px;
      }
    
    
     
    
    