h1{ 
    color:green;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{ 
color:olivedrab;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
}
strong{
    color:seagreen;
}


p{ 
    font-family: Arial, Helvetica, sans-serif;
    text-align:center
}