body{
    background-image:url("ophelia.jpg.webp") ;
    align-items: center;
  
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
color: white;
font-size: 20px;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

